language: java

services:
  - docker

jobs:
  include:
    - stage: test
      script:
        - mvn clean verify
    - stage: publish_database
      if: branch = develop
      script:
        - docker build -t $DOCKERHUB_USER/database_base ./Database
      after_success:
        - echo $DOCKERHUB_PWD | docker login --username $DOCKERHUB_USER --password-stdin
        - docker tag $DOCKERHUB_USER/database_base $DOCKERHUB_USER/database_base:1.1
        - docker push $DOCKERHUB_USER/database_base
    - stage: publish_backend
      if: branch = develop
      script:
        - docker build -t $DOCKERHUB_USER/backend_base ./Backend
      after_success:
        - echo $DOCKERHUB_PWD | docker login --username $DOCKERHUB_USER --password-stdin
        - docker tag $DOCKERHUB_USER/backend_base $DOCKERHUB_USER/backend_base:1.1
        - docker push $DOCKERHUB_USER/backend_base
    - stage: publish_server
      if: branch = develop
      script:
        - docker build -t $DOCKERHUB_USER/server_base ./Server
      after_success:
        - echo $DOCKERHUB_PWD | docker login --username $DOCKERHUB_USER --password-stdin
        - docker tag $DOCKERHUB_USER/server_base $DOCKERHUB_USER/server_base:1.1
        - docker push $DOCKERHUB_USER/server_base
    - stage: sonar_scanner
      addons:
        sonarcloud:
          organization: "juanproject" # the key of the org you chose at step #3
          token: $SONAR_KEY
      script:
        # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
        - mvn clean verify sonar:sonar -Pcoverage -Dsonar.projectKey=juanProject_sample-application-students